{%  extends "base.html" %}
{% block content %}
<div class="container">
    <div class="page-header">
        <h5>Du wurdest zu einem Hackedichtpokal-Event eingeladen!</h5>
    </div>
<div class="active">
    Gebe hier deinen Einladunglink ein.
</div>

    <form method="post" action="/">
        <p>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Einladungslink eingeben" id="link" name="link" required>
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="Saufname eingeben" id="user_name" name="user_name" required>
            </div>

            <div style="text-align:center;">
                <a><input type="submit" class="btn btn-secondary" value="Ab zum saufen!"></a>
            </div>
        </p>
    </form>
{% endblock %}